.back {
    background-image: url(../img//hero4.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px;
}

.back .row .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
}

.back div.button {
    background-image: url(../img//button.png);
    background-size: cover;
    text-align: center;
    padding: 10px;
}

.back div.button button {
    border: none;
    outline: none;
    background-color: transparent;
}