.contact {
    background-image: url(../img//about/banner.png);
    background-size: cover;
    height: 50vh;
    position: relative;
}

.contact .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    color: white;
}