.navbarr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar .logo img {
    width: 200px;
}

.navbarr .links {
    height: 24px;
}

.navbarr .links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbarr .links ul li a {
    color: black;
    margin: 0px 10px;
    text-decoration: none;
}

.navbarr .links ul li i.shop {
    cursor: pointer;
    font-size: 20px;
}

.navbarr .toggle {
    display: none;
}

@media (max-width:767px) {
    .navbarr .toggle {
        display: block;
        position: relative;
    }
    .navbarr .toggle .icon i {
        color: black;
        font-size: 20px;
        cursor: pointer;
    }
    .navbarr .links {
        height: 24px;
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100vh;
        left: -2000px;
        top: 60px;
        border-top: solid 1px black;
        transition: 2s;
    }
    .navbarr .links.active {
        left: 0px;
    }
    .navbarr .links ul {
        flex-direction: column;
    }
    .navbarr .links ul li {
        width: 90%;
        margin: 10px 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        line-height: 3;
    }
    .navbarr .links ul li a {
        display: inline-block;
        width: 100%;
        color: black;
        margin: 0px 10px;
        text-decoration: none;
    }
}